Source: cloud-init
Section: admin
Priority: extra
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>
Build-Depends: cdbs (>= 0.4.90~),
               debhelper (>= 5.0.38),
               po-debconf,
               pyflakes,
               pylint,
               python (>= 2.6.6-3~),
               python-nose,
               python-mocker,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/cloud-init
Vcs-Svn: svn://svn.debian.org/python-apps/packages/cloud-init/trunk/
Vcs-Browser: http://svn.debian.org/websvn/python-apps/packages/cloud-init/trunk/

Package: cloud-init
Architecture: all
Depends: cloud-utils,
         ifupdown (>= 0.6.10ubuntu5),
         procps,
         python,
         python-cheetah,
         python-configobj,
         python-oauth,
         python-software-properties,
         python-yaml,
         ${misc:Depends},
         ${python:Depends}
Description: Init scripts for cloud instances
 Cloud instances need special scripts to run during initialisation
 to retrieve and install ssh keys and to let the user run various scripts.

Package: grub-legacy-ec2
Depends: debconf (>= 1.5.19) | cdebconf, util-linux (>= 2.15-1), ${misc:Depends}
Conflicts: grub
Suggests: grub-legacy-doc
Architecture: all
Description: Handles update-grub for ec2 instances
 EC2 instances that use grub-legacy as a bootloader need a way to keep
 /boot/grub/menu.lst up to date while not conflicting with grub-pc.
 This package provides that.
