Source: cloud-init
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>,
           Miguel Landaeta <miguel@miguel.cc>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9),
               po-debconf,
               pyflakes,
               pylint,
               python,
               python-configobj,
               python-oauth,
               python-boto (>= 2.3),
               python-cheetah,
               python-requests,
               python-yaml,
               python-mocker,
               python-nose,
               python-setuptools
Standards-Version: 3.9.3
Vcs-Browser: http://anonscm.debian.org/viewvc/python-apps/packages/cloud-init/trunk/
Vcs-Svn: svn://anonscm.debian.org/python-apps/packages/cloud-init/trunk/
Homepage: https://launchpad.net/cloud-init

Package: cloud-init
Architecture: all
Depends: lsb-base,
         ifupdown,
         procps,
         python,
         python (>= 2.7) | python-argparse,
         python-cheetah,
         python-configobj,
         python-oauth,
         python-software-properties,
         python-yaml,
         python-boto (>= 2.3),
         python-prettytable,
         python-requests,
         ${misc:Depends}
Description: configuration and customization of cloud instances
 Framework and tool written in Python to handle early initialization of a
 cloud instance. Cloud-init can for example set a default locale and a host
 name, generate SSH private host keys, add SSH keys to a user's
 authorized_keys so they can log in, and set up ephemeral mount points.
 .
 Cloud-init's behavior can be configured via user-data, given by the user at
 instance launch time.
 .
 See upstream project for more details:
 https://help.ubuntu.com/community/CloudInit
